body{
    background-color: rgb(245, 247, 249);
}


#presentacion {
    min-height: 78vh;
    display: flow-root;
    justify-content: start;
    align-items: center;

    background-image: url("fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('google.png');
}

#proyecto-2 {
    background-image: url('proyecto.png');
}

#proyecto-3 {
    background-image: url('portafolio.png');
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgb(0, 0, 0);
}

.bg-brand {
    background-color: rgba(0, 0, 0, 0.564);
}

.text-brand {
    color: rgb(255, 255, 255);
}

.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

